.vertical-slider {
  height: 250vh;
  background: #43305c;
  overflow: hidden;

  .vertical-slider__title {
    font-family: "RN House Sans", arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    max-width: 100%;
    margin: 20px 0 0;
  }

  .vertical-slider__container {
    position: relative;
    height: 100%;

    .vertical-item {
      background: #271c35;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      width: 300px;
      height: 300px;
      overflow: hidden;
      transition: all 1.5s;
  
      h4 {
        font-size: 28px;
        font-family: 'RN House Sans', arial, sans-serif;
        font-weight: normal;
        color: #fff;
      }
  
      p {
        font-size: 17px;
        line-height: 25px;
        color: #fff;
      }
    }
  }
}