.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0 25px;
  background-color: #43305C;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .hero__content {
    margin: 11% 0 auto auto;
    opacity: 0;
    transform: translateX(-5%);
    transition: all 0.9s;

    &.visible {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .hero__art {
    margin: auto;
    max-width: 610px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.9s 0.2s;

  &.visible-art {
    opacity: 1;
    transform: translateY(0%);
  }

    .art-mobile {
      display: none;
    }

  }

  a {
    text-decoration: none;
    border-bottom: 0;
  }


  .logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 400px;
    }
  }


  .tg-logo {
    transition: 1s all;
    width: 100%;
    opacity: 0;

    img {
      width: 80%;
      max-width: 250px;
    }
  }


  h1 {
    font-family: 'RN House Sans', arial, sans-serif;
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
    text-align: left;
    opacity: 1;
    transition: 1s all;
    margin: 0px 0 20px;


    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  p {
    color: #fff;
    text-align: left;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 970px) {
  .hero {
    flex-flow: column;
    .hero__content {
      margin: 0 auto;
    }
    .hero__art {
      margin: 0 auto;
      .art-desktop {
        max-height: 300px;
        display: none;
      }
      .art-mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 730px) {
  .hero {
    padding: 12% 20px;
    align-items: center;
    h1 {
      font-size: 40px;
      line-height: 40px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

  .hero__content {
    margin: 11% 0 0 auto;
  }
  
  .hero__art {
    margin-bottom: 100px;
    
    .art-mobile {
      display: block;
    }
  }
  }
}