#parallax-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  top: 0;
  left: 0;
  z-index: 0;

  &.bring-to-front {
    z-index: 3;
  }

  .box {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(81, 108, 179, 0.43);
    transition: all 0s;
  }
}
