.title {
  transition: 0.7s 0.4s;
  transform: translateX(-40%);
  flex-basis: 35%;
  margin: 0;
  padding: 0 25px;
  margin-right: 65px;
  
  h2 {
    margin: 0;
    text-align: right;
    font-size: 50px;
    line-height: 50px;
    font-family: 'RN House Sans', arial, sans-serif;
    font-weight: normal;
    color: #00B6BE;
  }

  img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 40px 0 0 auto;
  }

}

@media (min-width: 730px) and (max-width: 970px) {
  .title {
    max-width: 540px;
    margin: 0 auto 40px auto;

    .title__content {
      display: inline-block;
      text-align: left;
      max-width: 390px;
    }

    img {
      display: inline-block;
      margin: 0;
      height: 70px;
    }

  }
  .pagebody__content {
    margin: 0 auto;
  }

}


@media (max-width: 730px) {
  .title {
    display: flex;
    margin: auto auto 50px auto;
    align-items: flex-start;
    max-width: 540px;

    h2 {
      text-align: left;
      font-size: 40px;
      line-height: 43px;
    }

    img {
      margin: 0;
    }
  }
}

@media (max-width: 475px) {
  .title {

    img {
      height: 70px;
    }
    
    h2 {
      font-size: 25px;
      line-height: 25px;
      width: 190px;
    }
  }
}