.title {
  flex-basis: 35%;
  margin: 0;
  margin-right: 65px;
  text-align: right;
  font-size: 50px;
  line-height: 50px;
  font-family: 'RN House Sans', arial, sans-serif;
  font-weight: normal;
  color: #00B6BE;
}